body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: aqua;
}

nav {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

main {
    font-family: Arial, sans-serif;
    background-color: rgb(220, 216, 219);
    max-width: 60%;
    margin-left: 20%;
    padding: 2%;
    margin-top: 5%;
}

main img {
    max-width: 40%;
}

header {
    background-color: blue;
    color: whitesmoke;
    padding: 0,5%;
}

footer {
    background-color: aquamarine;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border: 2px solid rgb(69, 69, 69);
    background-color: white;
}

th, td {
    border: 1px solid rgb(69, 69, 69);
    padding: 8px;
    text-align: center;
}

th {
    background-color: aquamarine;
    color: white;
}

.col1 {
    background-color: rgb(12, 225, 19);
}

.col2 {
    background-color: rgb(255, 81, 0);
}

article img#imgYo {
    width: 200px;
    border: 2px solid rgb(68, 53, 119);
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 30%;
}

li {
    background-color: rgb(69, 69, 69);
    color: rgb(122, 199, 209);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

figure {
    display: flex;
    align-items: center;
    justify-content: space-between;
}